In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("services.csv")

In [3]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [4]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [5]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [8]:
df['email']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
type(df.columns)

pandas.core.indexes.base.Index

In [11]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [12]:
df["fees"]

0     $2.50 suggested donation for lunch for age 60 ...
1     None. Donations requested of clients who can a...
2                                                 None.
3     Vary according to income ($5-$90). Cash, check...
4         $60 application fee. Cash or checks accepted.
5     $55 per year membership dues. Classes have fee...
6     $85 per day. Vary according to income for thos...
7     Suggested donation of $4.25 per meal for senio...
8                                                 None.
9                                                 None.
10                                                None.
11                                                None.
12                                                None.
13                                                None.
14                                                None.
15    None for emergency services. Vary for after sc...
16                                                None.
17                                                None.
18                                                None.
19                                                  NaN
20                                                  NaN
21    None, except for permits and photocopying. Cas...
22    None, except for permits and photocopying. Cas...
Name: fees, dtype: object

In [13]:
df["status"]

0       active
1       active
2       active
3       active
4       active
5       active
6       active
7       active
8       active
9       active
10      active
11      active
12      active
13      active
14      active
15      active
16      active
17      active
18      active
19     defunct
20    inactive
21      active
22      active
Name: status, dtype: object

In [14]:
type(df["status"])

pandas.core.series.Series

In [15]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [16]:
df[['accepted_payments','fees','email','description']]

,accepted_payments,fees,email,description
0,NaN,$2.50 suggested donation for lunch for age 60 ...,NaN,A walk-in center for older adults that provide...
1,NaN,None. Donations requested of clients who can a...,NaN,Provides training and job placement to eligibl...
2,NaN,None.,NaN,Offers supportive counseling services to San M...
3,NaN,"Vary according to income ($5-$90). Cash, check...",NaN,Provides supervised visitation services and a ...
4,NaN,$60 application fee. Cash or checks accepted.,NaN,Provides fixed 8% short term loans to eligible...
5,NaN,$55 per year membership dues. Classes have fee...,NaN,A multipurpose center offering a wide variety ...
6,NaN,$85 per day. Vary according to income for thos...,NaN,Rosener House is a day center for older adults...
7,NaN,Suggested donation of $4.25 per meal for senio...,NaN,Delivers a hot meal to the home of persons age...
8,NaN,None.,NaN,"Provides general reading material, including b..."
9,NaN,None.,NaN,"Provides general reading and media materials, ..."
10,NaN,None.,NaN,"Provides general reading materials, including ..."
11,NaN,None.,NaN,Offers an intergenerational literacy program f...
12,NaN,None.,NaN,"Provides general reading materials, including ..."
13,NaN,None.,NaN,"Provides food, clothing, bus tokens and shelte..."
14,NaN,None.,NaN,Provides a long-term (6-12 month) residential ...
15,NaN,None for emergency services. Vary for after sc...,NaN,Provides emergency assistance including food a...
16,NaN,None.,NaN,"Provides emergency food, clothing and furnitur..."
17,NaN,None.,NaN,"By appointment only, Project Smile provides a ..."
18,NaN,None.,NaN,Provides free medical and dental care to those...
19,NaN,NaN,NaN,no unrequired fields for this service
20,NaN,NaN,NaN,just a test service
21,"Cash, Check, Credit Card","None, except for permits and photocopying. Cas...",passports@example.org,[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22,NaN,"None, except for permits and photocopying. Cas...",NaN,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

In [17]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [18]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

# now reading excel file in pandas

In [19]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
df1 = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [21]:
type(df1)

pandas.core.frame.DataFrame

In [22]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [23]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [24]:
df1["Unnamed: 7"]

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11    LUSID also accepts UTC, UTS offsets and cutlabels
12                                                  NaN
13                                   Additional formats
14                                                  NaN
15                              Standard UTC timestamp:
16                                                  NaN
17                           Convert date into a string
18                                                  NaN
19         UTC offset (not recognised as an excel date)
20                                                  NaN
21                                             Cutlabel
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
Name: Unnamed: 7, dtype: object

In [25]:
df1[["Unnamed: 6", "Unnamed: 9", "Unnamed: 5"]]

,Unnamed: 6,Unnamed: 9,Unnamed: 5
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,NaN,NaN,NaN
8,NaN,NaN,NaN
9,NaN,NaN,NaN
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,NaN,NaN,NaN
13,NaN,NaN,NaN
14,NaN,NaN,NaN
15,NaN,"Where Z indicates Zulu time (UTC+0), and is eq...",2019-04-10 00:00:00
16,NaN,NaN,NaN
17,NaN,NaN,2019-04-10 00:00:00
18,NaN,NaN,NaN
19,NaN,NaN,13:30:45.550000
20,NaN,NaN,NaN
21,NaN,NaN,2019-04-10 13:30:45.550000
22,NaN,NaN,NaN
23,NaN,NaN,2019-04-10 13:30:45.550000
24,NaN,NaN,NaN
25,NaN,NaN,2019-04-10 14:30:45.550000
26,NaN,NaN,NaN
27,NaN,NaN,2019-04-10 14:29:45.550000

In [26]:
df1.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df1.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

# now reading from web in pandas

In [41]:
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [42]:
df2.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [43]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [44]:
type(df2.columns)

pandas.core.indexes.base.Index

In [45]:
df2["Survived"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [46]:
type(df2["Survived"])

pandas.core.series.Series

In [47]:
df2[["Name", "Age", "Fare"]]

                                                  Name   Age     Fare
0                              Braund, Mr. Owen Harris  22.0   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.2833
2                               Heikkinen, Miss. Laina  26.0   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.1000
4                             Allen, Mr. William Henry  35.0   8.0500
..                                                 ...   ...      ...
886                              Montvila, Rev. Juozas  27.0  13.0000
887                       Graham, Miss. Margaret Edith  19.0  30.0000
888           Johnston, Miss. Catherine Helen "Carrie"   NaN  23.4500
889                              Behr, Mr. Karl Howell  26.0  30.0000
890                                Dooley, Mr. Patrick  32.0   7.7500

[891 rows x 3 columns]

In [48]:
df2["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [49]:
!pip install html5lib beautifulsoup4 lxml

Requirement already satisfied: html5lib in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: lxml in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (6.0.2)
Requirement already satisfied: six>=1.9 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.6)

[notice] A new release of pip is available: 24.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [50]:
import pandas as pd
import requests
from io import StringIO

url = "https://www.basketball-reference.com/leagues/NBA_2015_totals.csv"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)
df3 = pd.read_csv(StringIO(response.text))

df3.head()

Empty DataFrame
Columns: [<!DOCTYPE html><html lang="en-US"><head><title>Just a moment...</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=Edge"><meta name="robots" content="noindex, nofollow"><meta name="viewport" content="width=device-width, initial-scale=1"><style>*{box-sizing:border-box;margin:0;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%;color:#313131;font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji}body{display:flex;flex-direction:column;height:100vh;min-height:100vh}.main-content{margin:8rem auto;padding-left:1.5rem;max-width:60rem}@media (width <= 720px){.main-content{margin-top:4rem}}.h2{line-height:2.25rem;font-size:1.5rem;font-weight:500}@media (width <= 720px){.h2{line-height:1.5rem;font-size:1.25rem}}#challenge-error-text{background-image:url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0IyMEYwMyIgZD0iTTE2IDNhMTMgMTMgMCAxIDAgMTMgMTNBMTMuMDE1IDEzLjAxNSAwIDAgMCAxNiAzbTAgMjRhMTEgMTEgMCAxIDEgMTEtMTEgMTEuMDEgMTEuMDEgMCAwIDEtMTEgMTEiLz48cGF0aCBmaWxsPSIjQjIwRjAzIiBkPSJNMTcuMDM4IDE4LjYxNUgxNC44N0wxNC41NjMgOS41aDIuNzgzem0tMS4wODQgMS40MjdxLjY2IDAgMS4wNTcuMzg4LjQwNy4zODkuNDA3Ljk5NCAwIC41OTYtLjQwNy45ODQtLjM5Ny4zOS0xLjA1Ny4zODktLjY1IDAtMS4wNTYtLjM4OS0uMzk4LS4zODktLjM5OC0uOTg0IDAtLjU5Ny4zOTgtLjk4NS40MDYtLjM5NyAxLjA1Ni0uMzk3Ii8+PC9zdmc+");background-repeat:no-repeat;background-size:contain;padding-left:34px}@media (prefers-color-scheme: dark){body{background-color:#222;color:#d9d9d9}}</style><meta http-equiv="refresh" content="360"></head><body><div class="main-wrapper" role="main"><div class="main-content"><noscript><div class="h2"><span id="challenge-error-text">Enable JavaScript and cookies to continue</span></div></noscript></div></div><script>(function(){window._cf_chl_opt = {cvId: '3', cZone: 'www.basketball-reference.com', cType: 'managed', cRay: '9ccd32c5aa2979f4', cH: 'U0x4_sEIcuDlsIPuduXU8XUVVr_7zmxnN8hdg5L6A8k-1770910971-1.2.1.1-lt430bf3kpaNHddjbBL4A8XsZG82.v_eG8W78yxQYXeU5yfcoYiBuDSURXOiER2K', cUPMDTk:"\/leagues\/NBA_2015_totals.csv?__cf_chl_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g", cFPWv: 'g', cITimeS: '1770910971', cTplC:0, cTplV:5, cTplB: '0', fa:"\/leagues\/NBA_2015_totals.csv?__cf_chl_f_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g", md: 'v6cHslbQWq4_n23cVqXOq2EXBi4dWn1BAxpFcaabO2s-1770910971-1.2.1.1-XJtVo5GdKME123CKOW.l8TlduhoY8baxwpPYlQ2jS.HEyKfCGnBQfflba6a8OpweA6PuNA2Xrj1lQaNjv9xsfSpoVYjDpSJaX12bJ9YYFYmA1gnOnyQb3H4k4bMeM2GP5RoL.DRjl0BIv3tg5qFT8v79lsgjKqcHMTEMqWb6xozDI_B40iMUGxgseKps_4a12dG40k7_MPzWXYoh5Zu41je5M4nbbn5scqV3kYzQOqlGCfhI.SHFHirjz6mzmL7d6fcyV8baKnzWMrfX4OI._8CHVPgmjWNO5uzNC83tCp5QjLM8fGAtzK2eHr5NR8bN8w3WV850MTIAjFTQ5YmEUct0NfQFzkEBXg3sl.Suk6EnHu628knQpQ1KT1A7h239vQcKqo3_toayNvjqtqfqPFe_6.Hhifffmw_2lGmT3cjc3U4ByNqfN7oi4Pgiuy4vSQ0MhTN8J0QtFEf_4DLwsQL1HbXWaT8ISpqv9QatpkE0gX_bzbELCm4YRLn6s61Gd7DwQfgDKOPuEFaWHWdgb4Lb1222wsY7RGeFHEn8Nphdu6C1Z3aeEPs11VdIyRzZnKmuY8IRicYyCwi.7kiYfr6nhaBz1ZoU9ywFntb7E_ECQX912gJcF1HFS4cQ4yyD_.ktaSk5M4BLPr9NGfdJSPSDACaSfK9GyJjXkoSVGHH2y079DbAeYE_Ztxl67om...C0BzecMV9jybe27MP8D376cdd_CFpZySE7gZWeIy19kh707q.yOhUsK8x0wQ9hlrPozY4dF9Xk4WfQ_V1XO3fY.ycbVD0ecgwJK4UoN6XEziNH_FixFpU1VnytnmdSrBmQP8.hEtEkVoA22AV91iXAo2VCWZwZvyDDwhBaaOWB.8F8SjKPTzMgIJcJoLSVcQd_3B4U9zSr0DkXXgoZu_cjf9GxkekvcnFjMqMPI_kborIMvd4dCo03f418THy11nXl63zpmjlzD4TyvMrZxPNgwqikgbb21tTMwEZC.H.DKZQtbhTnfePUz.1VZhwNvyGRyjnE7BNB4c4vm0cxW0VADBtfEaPTlZj887cRe2XF9Coox74gU2EYh2IbZXET', mdrd: 'sLNnOae.yjS8SIcj0ADE6tKtsV_MbifqTMdDczJ3dAo-1770910971-1.2.1.1-FYZt7tFO53lfVwwMwpw1Huc04dysHrhrgDXMwpEB_k_aeSCDhm3DArVFsrNVHl1_C022qNXv1i2hrC3bWzLnaxYgbeQYOwqnCpwLwiQ.j2hG5h86dSn2cBp7vEEafRQCnjOlbpx7RScuMzep2cq0omP.fJ.fzS0cNselevSiTG.wey.s4hdXtZSfWaNMXjJHW7taGP3_FYgSMxGjggEdr5YHn54Jwl2ZrOLF5HRUr5ALJR_1uoG7fac6WX7FmcBAjOXvaT0YwignKJ.wtQN7zsVn6QA8hj9_UXiY9EB_oFSVzD6WelzOmWBdpQlSui8_J19IDywi94zmlhV8v27su.yGmgc_hjIFWfKVgMMvdCNbV.T.cIdWPyJklE0ejB5ElLeNHAWq6jdhSv21OVZ0O7_9yA0jp3Wh2ThlEBxVCArpwJ.xqDFZZPWJLJsbVsn56.8UaDhq6Zaixv4pcsunBmvFgwWYlzGrbz.6mrkASx7hXXgxsOUxtaPinN4quZ6C6zsOfulVBk9KXPiokHSvKXxiXhZTTX.mY9xxtHl2wd153fgW1AvNQmorhW.njMoDmn_sDwHrrhfBfVwDqd4W9iD6NgvkGCB.7eVnKTVbiqc5PcCrZgQwELOmELgVWsFuKO8qPQvq5r2uq57hKOB3cSfZYUwVC.mGlsIdi3rPds4FKmMr0naX9xohGGhAqZaAW9MOCd8rRLYTa5aA7pE8ATiw_y3hnUx6wjFOznWlW0AJlH23EdFHt3R7GdUpjG1x1P.hM_j.H3iD3ooRnq2krLN41AHFI8oPd88YX.d8LNx9eHf8RG6Fk4zelaFaxIUMWcVi.0Ss95VT5rk2ivgQbJnvachF4RUVjg9rY0KfLfOfwNFAWpUc4BPTm0WVBX9vOLo34His_AOknjuUR3j11_ZMTOn9qPqtNqcigO1j.LLIP2pV88MxKBqvlfX7FK8jxIAc2C2HPDEgz3zA9PUqibM6Kv8cHHAoKLAMkwJfNR95llrXY.YTQK8jLCLW1gd0ftthS07RFMmx5DY0M4JBC.VHW5E_xfqna4iJhPe_n5kj76jgkwUj.X9cOenv77yC94BqdOx94ZLNuGSXGmm6W5WOKrULgBI3yIY.vFEN.43jSajtTjTXnof9i_0vwwk2G9uR7J_.F0xKnGAVOWoaLvi9nNGs_sL2qzakQkn.ixAKHoj2ndoZ4EJpweu3KswEXWL6DaUYU9yPYsHwYKP_.sfqzx_5GU2H5hKq9mUnG_0upjiXhIVa9pOdfbkOi7dn6GcPibv4hUBC.Kow6msj7TieziBnZn4lNDUdRlxge5HaQ53vrN9lgy8mupsLEWzDu41z0_NGIaKUmfZ0FiDenBSmtGDVI3OPUMDYP87LzU_welTtD1GiEln1IKemI8GLj0YpcrFsfgvIEOAERzv4J2FmILeq7ESJA5YFLHYrFE03wmO.LokCynn3LfMdjl4ECFtPmXGccRWftpEbO7b62UJ_j2V851mXPC3Ykur.8wEEQj2EMND5AfX7c6K9A0SLAF0Iwxx1tGTrvhpr7LguGf53Hf3NxwXe0Apk3PyBUQw20Ow0iGjXnMo9O.2pY5rMjU8m0c9MU8Bx4UcFGNG5kBM5lxQjge1Qu8ML2mAf9rjbzs2HMY6xIfWAhexP.4IyYBhXes47ae8T30HAHFg1COG4bzgRLFYFRvhkKRJnzbFD4nrfDTnNoRBB5NtUffzcW_YK780P3BIvuxF9qaBoRC.mM90g4fYdyxIV7ripMn9.aMjR1nSQ6dyHUNyYNk.zO7JSAtuPsBWdc6N8E1fy18sOB.8j6z5TfESRr5.ZjC8xdpcApw0Eej.pyrqP4OO_wxTcsK0SPcQE1nz9GiwmufYZkKA4QxQ7GG8QNOEuRwLYMYZLSu.oPUjsKl5mBCr2MkningzMovkbeD8mdAyrSGK81F8KNBcl_94SkHbAAdZsMXj0qcF.zH9MiEcWoKXFjSs2LD6FCBgILMPpokR5w587EEEDPAC31fCCC.N4qIuPe.qRemWxDmiRyGyxzw3oG0gyKoKN26OQzWeAbcTujlj_cl3sqi2q7mipu4OQwOW11u.9IEDHHzcIM23geVgRauA0wOIU6bHw3.ftPW7xeuJpj2K.jIxXAaDoNbdt3U7G0v4PYGbx3bUJvoFJuNW8_1YUKKDRSB8OV8pNj5Q7hhxGtFwfaJlxCUh7JFcW0JmIbj4ua8C4F86tvTtzf6TQX_gv76LwHkDlYc4BOgZIzAMbWavTErPkJiDXgM5dx_8.UXThan9lhmR0a8n0wnf_mzS39PLWNvDx63FYiM4nu80LL.tZlLlPrBOn9TiRXMQWazv8.1AL2Dzxf2FQP96osUhx3AnYwuG4sANWiry_YZl4wEfPmHA3rReEOufTzvwCNGffWfF9ly7BiC55B550WzgSGTiNIauffUeZWEK45g', };var a = document.createElement('script');a.src = '/cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1?ray=9ccd32c5aa2979f4';window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0,  location.href.length - window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;if (window.history && window.history.replaceState) {var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;history.replaceState(null,  null, \/leagues\/NBA_2015_totals.csv?__cf_chl_rt_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g+ window._cf_chl_opt.cOgUHash);a.onload = function() {history.replaceState(null,  null.1,  ogU);}}document.getElementsByTagName('head')[0].appendChild(a);}());</script></body></html>]
Index: []

[0 rows x 35 columns]

In [51]:
df3.head(2)

Empty DataFrame
Columns: [<!DOCTYPE html><html lang="en-US"><head><title>Just a moment...</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=Edge"><meta name="robots" content="noindex, nofollow"><meta name="viewport" content="width=device-width, initial-scale=1"><style>*{box-sizing:border-box;margin:0;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%;color:#313131;font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji}body{display:flex;flex-direction:column;height:100vh;min-height:100vh}.main-content{margin:8rem auto;padding-left:1.5rem;max-width:60rem}@media (width <= 720px){.main-content{margin-top:4rem}}.h2{line-height:2.25rem;font-size:1.5rem;font-weight:500}@media (width <= 720px){.h2{line-height:1.5rem;font-size:1.25rem}}#challenge-error-text{background-image:url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0IyMEYwMyIgZD0iTTE2IDNhMTMgMTMgMCAxIDAgMTMgMTNBMTMuMDE1IDEzLjAxNSAwIDAgMCAxNiAzbTAgMjRhMTEgMTEgMCAxIDEgMTEtMTEgMTEuMDEgMTEuMDEgMCAwIDEtMTEgMTEiLz48cGF0aCBmaWxsPSIjQjIwRjAzIiBkPSJNMTcuMDM4IDE4LjYxNUgxNC44N0wxNC41NjMgOS41aDIuNzgzem0tMS4wODQgMS40MjdxLjY2IDAgMS4wNTcuMzg4LjQwNy4zODkuNDA3Ljk5NCAwIC41OTYtLjQwNy45ODQtLjM5Ny4zOS0xLjA1Ny4zODktLjY1IDAtMS4wNTYtLjM4OS0uMzk4LS4zODktLjM5OC0uOTg0IDAtLjU5Ny4zOTgtLjk4NS40MDYtLjM5NyAxLjA1Ni0uMzk3Ii8+PC9zdmc+");background-repeat:no-repeat;background-size:contain;padding-left:34px}@media (prefers-color-scheme: dark){body{background-color:#222;color:#d9d9d9}}</style><meta http-equiv="refresh" content="360"></head><body><div class="main-wrapper" role="main"><div class="main-content"><noscript><div class="h2"><span id="challenge-error-text">Enable JavaScript and cookies to continue</span></div></noscript></div></div><script>(function(){window._cf_chl_opt = {cvId: '3', cZone: 'www.basketball-reference.com', cType: 'managed', cRay: '9ccd32c5aa2979f4', cH: 'U0x4_sEIcuDlsIPuduXU8XUVVr_7zmxnN8hdg5L6A8k-1770910971-1.2.1.1-lt430bf3kpaNHddjbBL4A8XsZG82.v_eG8W78yxQYXeU5yfcoYiBuDSURXOiER2K', cUPMDTk:"\/leagues\/NBA_2015_totals.csv?__cf_chl_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g", cFPWv: 'g', cITimeS: '1770910971', cTplC:0, cTplV:5, cTplB: '0', fa:"\/leagues\/NBA_2015_totals.csv?__cf_chl_f_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g", md: 'v6cHslbQWq4_n23cVqXOq2EXBi4dWn1BAxpFcaabO2s-1770910971-1.2.1.1-XJtVo5GdKME123CKOW.l8TlduhoY8baxwpPYlQ2jS.HEyKfCGnBQfflba6a8OpweA6PuNA2Xrj1lQaNjv9xsfSpoVYjDpSJaX12bJ9YYFYmA1gnOnyQb3H4k4bMeM2GP5RoL.DRjl0BIv3tg5qFT8v79lsgjKqcHMTEMqWb6xozDI_B40iMUGxgseKps_4a12dG40k7_MPzWXYoh5Zu41je5M4nbbn5scqV3kYzQOqlGCfhI.SHFHirjz6mzmL7d6fcyV8baKnzWMrfX4OI._8CHVPgmjWNO5uzNC83tCp5QjLM8fGAtzK2eHr5NR8bN8w3WV850MTIAjFTQ5YmEUct0NfQFzkEBXg3sl.Suk6EnHu628knQpQ1KT1A7h239vQcKqo3_toayNvjqtqfqPFe_6.Hhifffmw_2lGmT3cjc3U4ByNqfN7oi4Pgiuy4vSQ0MhTN8J0QtFEf_4DLwsQL1HbXWaT8ISpqv9QatpkE0gX_bzbELCm4YRLn6s61Gd7DwQfgDKOPuEFaWHWdgb4Lb1222wsY7RGeFHEn8Nphdu6C1Z3aeEPs11VdIyRzZnKmuY8IRicYyCwi.7kiYfr6nhaBz1ZoU9ywFntb7E_ECQX912gJcF1HFS4cQ4yyD_.ktaSk5M4BLPr9NGfdJSPSDACaSfK9GyJjXkoSVGHH2y079DbAeYE_Ztxl67om...C0BzecMV9jybe27MP8D376cdd_CFpZySE7gZWeIy19kh707q.yOhUsK8x0wQ9hlrPozY4dF9Xk4WfQ_V1XO3fY.ycbVD0ecgwJK4UoN6XEziNH_FixFpU1VnytnmdSrBmQP8.hEtEkVoA22AV91iXAo2VCWZwZvyDDwhBaaOWB.8F8SjKPTzMgIJcJoLSVcQd_3B4U9zSr0DkXXgoZu_cjf9GxkekvcnFjMqMPI_kborIMvd4dCo03f418THy11nXl63zpmjlzD4TyvMrZxPNgwqikgbb21tTMwEZC.H.DKZQtbhTnfePUz.1VZhwNvyGRyjnE7BNB4c4vm0cxW0VADBtfEaPTlZj887cRe2XF9Coox74gU2EYh2IbZXET', mdrd: 'sLNnOae.yjS8SIcj0ADE6tKtsV_MbifqTMdDczJ3dAo-1770910971-1.2.1.1-FYZt7tFO53lfVwwMwpw1Huc04dysHrhrgDXMwpEB_k_aeSCDhm3DArVFsrNVHl1_C022qNXv1i2hrC3bWzLnaxYgbeQYOwqnCpwLwiQ.j2hG5h86dSn2cBp7vEEafRQCnjOlbpx7RScuMzep2cq0omP.fJ.fzS0cNselevSiTG.wey.s4hdXtZSfWaNMXjJHW7taGP3_FYgSMxGjggEdr5YHn54Jwl2ZrOLF5HRUr5ALJR_1uoG7fac6WX7FmcBAjOXvaT0YwignKJ.wtQN7zsVn6QA8hj9_UXiY9EB_oFSVzD6WelzOmWBdpQlSui8_J19IDywi94zmlhV8v27su.yGmgc_hjIFWfKVgMMvdCNbV.T.cIdWPyJklE0ejB5ElLeNHAWq6jdhSv21OVZ0O7_9yA0jp3Wh2ThlEBxVCArpwJ.xqDFZZPWJLJsbVsn56.8UaDhq6Zaixv4pcsunBmvFgwWYlzGrbz.6mrkASx7hXXgxsOUxtaPinN4quZ6C6zsOfulVBk9KXPiokHSvKXxiXhZTTX.mY9xxtHl2wd153fgW1AvNQmorhW.njMoDmn_sDwHrrhfBfVwDqd4W9iD6NgvkGCB.7eVnKTVbiqc5PcCrZgQwELOmELgVWsFuKO8qPQvq5r2uq57hKOB3cSfZYUwVC.mGlsIdi3rPds4FKmMr0naX9xohGGhAqZaAW9MOCd8rRLYTa5aA7pE8ATiw_y3hnUx6wjFOznWlW0AJlH23EdFHt3R7GdUpjG1x1P.hM_j.H3iD3ooRnq2krLN41AHFI8oPd88YX.d8LNx9eHf8RG6Fk4zelaFaxIUMWcVi.0Ss95VT5rk2ivgQbJnvachF4RUVjg9rY0KfLfOfwNFAWpUc4BPTm0WVBX9vOLo34His_AOknjuUR3j11_ZMTOn9qPqtNqcigO1j.LLIP2pV88MxKBqvlfX7FK8jxIAc2C2HPDEgz3zA9PUqibM6Kv8cHHAoKLAMkwJfNR95llrXY.YTQK8jLCLW1gd0ftthS07RFMmx5DY0M4JBC.VHW5E_xfqna4iJhPe_n5kj76jgkwUj.X9cOenv77yC94BqdOx94ZLNuGSXGmm6W5WOKrULgBI3yIY.vFEN.43jSajtTjTXnof9i_0vwwk2G9uR7J_.F0xKnGAVOWoaLvi9nNGs_sL2qzakQkn.ixAKHoj2ndoZ4EJpweu3KswEXWL6DaUYU9yPYsHwYKP_.sfqzx_5GU2H5hKq9mUnG_0upjiXhIVa9pOdfbkOi7dn6GcPibv4hUBC.Kow6msj7TieziBnZn4lNDUdRlxge5HaQ53vrN9lgy8mupsLEWzDu41z0_NGIaKUmfZ0FiDenBSmtGDVI3OPUMDYP87LzU_welTtD1GiEln1IKemI8GLj0YpcrFsfgvIEOAERzv4J2FmILeq7ESJA5YFLHYrFE03wmO.LokCynn3LfMdjl4ECFtPmXGccRWftpEbO7b62UJ_j2V851mXPC3Ykur.8wEEQj2EMND5AfX7c6K9A0SLAF0Iwxx1tGTrvhpr7LguGf53Hf3NxwXe0Apk3PyBUQw20Ow0iGjXnMo9O.2pY5rMjU8m0c9MU8Bx4UcFGNG5kBM5lxQjge1Qu8ML2mAf9rjbzs2HMY6xIfWAhexP.4IyYBhXes47ae8T30HAHFg1COG4bzgRLFYFRvhkKRJnzbFD4nrfDTnNoRBB5NtUffzcW_YK780P3BIvuxF9qaBoRC.mM90g4fYdyxIV7ripMn9.aMjR1nSQ6dyHUNyYNk.zO7JSAtuPsBWdc6N8E1fy18sOB.8j6z5TfESRr5.ZjC8xdpcApw0Eej.pyrqP4OO_wxTcsK0SPcQE1nz9GiwmufYZkKA4QxQ7GG8QNOEuRwLYMYZLSu.oPUjsKl5mBCr2MkningzMovkbeD8mdAyrSGK81F8KNBcl_94SkHbAAdZsMXj0qcF.zH9MiEcWoKXFjSs2LD6FCBgILMPpokR5w587EEEDPAC31fCCC.N4qIuPe.qRemWxDmiRyGyxzw3oG0gyKoKN26OQzWeAbcTujlj_cl3sqi2q7mipu4OQwOW11u.9IEDHHzcIM23geVgRauA0wOIU6bHw3.ftPW7xeuJpj2K.jIxXAaDoNbdt3U7G0v4PYGbx3bUJvoFJuNW8_1YUKKDRSB8OV8pNj5Q7hhxGtFwfaJlxCUh7JFcW0JmIbj4ua8C4F86tvTtzf6TQX_gv76LwHkDlYc4BOgZIzAMbWavTErPkJiDXgM5dx_8.UXThan9lhmR0a8n0wnf_mzS39PLWNvDx63FYiM4nu80LL.tZlLlPrBOn9TiRXMQWazv8.1AL2Dzxf2FQP96osUhx3AnYwuG4sANWiry_YZl4wEfPmHA3rReEOufTzvwCNGffWfF9ly7BiC55B550WzgSGTiNIauffUeZWEK45g', };var a = document.createElement('script');a.src = '/cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1?ray=9ccd32c5aa2979f4';window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0,  location.href.length - window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;if (window.history && window.history.replaceState) {var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;history.replaceState(null,  null, \/leagues\/NBA_2015_totals.csv?__cf_chl_rt_tk=Wwb8LpR7gjGnM3g.2kAdazKhrVIbx3QhQoSnBs6KgW4-1770910971-1.0.1.1-cZLBGePShvgmx.cceLxu90aybkviURvaDSK.E783V6g+ window._cf_chl_opt.cOgUHash);a.onload = function() {history.replaceState(null,  null.1,  ogU);}}document.getElementsByTagName('head')[0].appendChild(a);}());</script></body></html>]
Index: []

[0 rows x 35 columns]

In [52]:
type(df3)

pandas.core.frame.DataFrame